<section id="platform" class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>What You Can Do?</h1>
        <br>
        <p>
          Portia provides real transaction information for individuals and business users across the network to provide online intelligent contracts without third - party services to solve the problem of network latency caused by millions of nodes and millions of edges.
        </p> 
        <p>
          To speed up Portia's popularity, mainstream applications will be deployed in Portia, which requires Portia systems to meet the following requirements: A million - level full-node support for billions of users worldwide.
        </p>
        <p>
          Any individual user can join the network.
          Portia is facing the user as all intelligent terminal users, and any user holding an intelligent terminal can join the Portia network.
        </p>
      </div>
      <div class="col-md-6">
        <img src="img/platform.jpg" alt="" class="about-img img-fluid rounded-circle">
      </div>
    </div>
  </div>
</section>

<!-- ICON BOXES -->
<section id="icon-boxes" class="p-5 bg-light">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-4">
        <div class="card bg-info text-center text-white">
          <div class="card-body">
            <i class="fas fa-chart-line"></i>
            <h3>Scalable</h3>
            Million-level full node support for billions of users worldwide
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-info text-center text-white">
          <div class="card-body">
            <i class="fa fa-bullhorn"></i>
            <h3>You can join</h3>
            Any individual user or organisation can join the Portia network.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-info text-center text-white">
          <div class="card-body">
            <i class="fab fa-bitcoin"></i>
            <h3>Upgraded Blockchain</h3>
            We will gradually do minor upgrades and bug fixes.
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-4">
        <div class="card bg-info text-center text-white">
          <div class="card-body">
            <i class="fas fa-clock"></i>
            <h3>Efficient network</h3>
            We provide high - efficient network broadcasting.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-info text-center text-white">
          <div class="card-body">
            <i class="fa fa-coffee"></i>
            <h3>Broadcasting</h3>
            Each order has smart Broadcasting Mechanism.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-info text-center text-white">
          <div class="card-body">
            <i class="fa fa-laptop"></i>
            <h3>Performance</h3>
            Concurrent Performance using parallel scalability.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>