<section id="platform" class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>What You Can Do?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium libero doloremque molestiae aliquam, provident tempore neque esse nemo culpa, repellendus quo eos ducimus praesentium in cumque porro itaque debitis fuga.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium libero doloremque molestiae aliquam, provident tempore neque esse nemo culpa, repellendus quo eos ducimus praesentium in cumque porro itaque debitis fuga.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium libero doloremque molestiae aliquam, provident tempore neque esse nemo culpa, repellendus quo eos ducimus praesentium in cumque porro itaque debitis fuga.</p>
      </div>
      <div class="col-md-6">
        <img src="img/platform.jpg" alt="" class="about-img img-fluid rounded-circle">
      </div>
    </div>
  </div>
</section>

<!-- ICON BOXES -->
<section id="icon-boxes" class="p-5 bg-light">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-4">
        <div class="card bg-secondary text-center text-white">
          <div class="card-body">
            <i class="fa fa-line-chart"></i>
            <h3>Lorem ipsum</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, saepe.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-secondary text-center text-white">
          <div class="card-body">
            <i class="fa fa-bullhorn"></i>
            <h3>Lorem ipsum</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, saepe.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-secondary text-center text-white">
          <div class="card-body">
            <i class="fa fa-bitcoin"></i>
            <h3>Lorem ipsum</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, saepe.
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-4">
        <div class="card bg-secondary text-center text-white">
          <div class="card-body">
            <i class="fa fa-clock-o"></i>
            <h3>Lorem ipsum</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, saepe.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-secondary text-center text-white">
          <div class="card-body">
            <i class="fa fa-coffee"></i>
            <h3>Lorem ipsum</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, saepe.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-secondary text-center text-white">
          <div class="card-body">
            <i class="fa fa-laptop"></i>
            <h3>Lorem ipsum</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, saepe.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>