    <!-- Team -->
    <section class="bg-white" id="team">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
              <h3 class="section-subheading text-muted">We Are Hiring Blockchain Enthusiasts and Developers. <a href="#contact" class="js-scroll-trigger">Contact Us</a></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="img/team/1.png" alt="">
                <h4>Xunzhu Tang</h4>
                <p class="text-muted">CEO & Founder</p>
                <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                    <a href="https://twitter.com/">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://github.com/">
                      <i class="fab fa-github-alt"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="http://www.linkedin.com/in/">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            
            <div class="col-sm-3">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="img/team/2.png" alt="">
                <h4>Zhi Li</h4>
                <p class="text-muted">Chief Technology Officer</p>
                <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                    <a href="https://twitter.com/">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://github.com/">
                      <i class="fab fa-github-alt"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="http://www.linkedin.com/in/">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="img/team/3.png" alt="">
                <h4>Yi Luo</h4>
                <p class="text-muted">Chief Marketing Officer</p>
                <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                    <a href="https://twitter.com/">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://github.com/">
                      <i class="fab fa-github-alt"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="http://www.linkedin.com/in/">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>


            <div class="col-sm-3">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="img/team/4.png" alt="">
                <h4>Akhmadjon Ruzikulov</h4>
                <p class="text-muted">Core Developer</p>
                <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                    <a href="https://twitter.com/aruzikulov">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://github.com/aruzikulov">
                      <i class="fab fa-github-alt"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="http://www.linkedin.com/in/aruzikulov/">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="img/team/5.png" alt="">
                <h4>Lei Danyun</h4>
                <p class="text-muted">Core Developer</p>
                <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                    <a href="https://twitter.com/">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://github.com/">
                      <i class="fab fa-github-alt"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="http://www.linkedin.com/in/">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="img/team/6.png" alt="">
                <h4>Sun Tiezhu</h4>
                <p class="text-muted">Core Developer</p>
                <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                    <a href="https://twitter.com/">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://github.com/">
                      <i class="fab fa-github-alt"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="http://www.linkedin.com/in/">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
          </div>
        </div>
      </section>
  
  